@font-face {
  font-family: MuseoRegular;
  src: url(../fonts/MuseoSans_500.otf);
}

@font-face {
  font-family: MuseoRegularItalic;
  src: url(../fonts/MuseoSans_500_Italic.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

nav {
  .navbar-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    li {
      cursor: pointer;
      list-style: none;
      a {
        font-size: 18px;
        // font-family: MuseoRegular, sans-serif;
      }

      .link--animated {
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
      }
      
      .link--animated::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: #ffffff;
          transition: width .3s;
      }
      
      .link--animated:hover::after {
          width: 100%;
          //transition: width .3s;
      }
    }
    li:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.main-carousel {
  .v-window__controls {
    .v-btn {
      border: 1px solid #9b9b9b;
      background-color: transparent !important;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      i {
        color: #9b9b9b;
      }
    }

    .v-btn:hover {
      border-color: white;
      i {
        color: white;
      }
    }
  }
}